
$blue: #057ea1;
$purple: #7354d9;
$yellow: #f5f487;
$orange: #d97354;
$white: #f2f2f2;
$green: #bada55;
$black: #292929;
$duration: .5s;
$content-bg: $white;
$title: 'Oswald', sans-serif;
$body: 'Roboto', sans-serif;

@mixin button($bgcolor, $txtcolor)
{
    padding: .5em;

    color: $txtcolor;
    border-radius: .3em;
    background-color: $bgcolor;
}

@-webkit-keyframes slideInRight
{
    0%
    {
        visibility: visible;

        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }

    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes slideInRight
{
    0%
    {
        visibility: visible;

        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }

    100%
    {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
}

.slideInRight
{
    -webkit-animation-name: slideInRight;
            animation-name: slideInRight;
}

@-webkit-keyframes slideOutRight
{
    0%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    100%
    {
        visibility: hidden;

        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}

@keyframes slideOutRight
{
    0%
    {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    100%
    {
        visibility: hidden;

        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }
}

.slideOutRight
{
    -webkit-animation-name: slideOutRight;
            animation-name: slideOutRight;
}

@-webkit-keyframes fadeInDown
{
    0%
    {
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

@keyframes fadeInDown
{
    0%
    {
        -webkit-transform: translate3d(0, -100%, 0);
            -ms-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);

        opacity: 0;
    }

    100%
    {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;

        opacity: 1;
    }
}

.fadeInDown
{
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
}

@-webkit-keyframes rubberBand
{
    0%
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }

    30%
    {
        -webkit-transform: scale3d(1.25, .75, 1);
                transform: scale3d(1.25, .75, 1);
    }

    40%
    {
        -webkit-transform: scale3d(.75, 1.25, 1);
                transform: scale3d(.75, 1.25, 1);
    }

    50%
    {
        -webkit-transform: scale3d(1.15, .85, 1);
                transform: scale3d(1.15, .85, 1);
    }

    65%
    {
        -webkit-transform: scale3d(.95, 1.05, 1);
                transform: scale3d(.95, 1.05, 1);
    }

    75%
    {
        -webkit-transform: scale3d(1.05, .95, 1);
                transform: scale3d(1.05, .95, 1);
    }

    100%
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand
{
    0%
    {
        -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }

    30%
    {
        -webkit-transform: scale3d(1.25, .75, 1);
            -ms-transform: scale3d(1.25, .75, 1);
                transform: scale3d(1.25, .75, 1);
    }

    40%
    {
        -webkit-transform: scale3d(.75, 1.25, 1);
            -ms-transform: scale3d(.75, 1.25, 1);
                transform: scale3d(.75, 1.25, 1);
    }

    50%
    {
        -webkit-transform: scale3d(1.15, .85, 1);
            -ms-transform: scale3d(1.15, .85, 1);
                transform: scale3d(1.15, .85, 1);
    }

    65%
    {
        -webkit-transform: scale3d(.95, 1.05, 1);
            -ms-transform: scale3d(.95, 1.05, 1);
                transform: scale3d(.95, 1.05, 1);
    }

    75%
    {
        -webkit-transform: scale3d(1.05, .95, 1);
            -ms-transform: scale3d(1.05, .95, 1);
                transform: scale3d(1.05, .95, 1);
    }

    100%
    {
        -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

.rubberBand
{
    -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
}

@-webkit-keyframes fadeOutDown
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);

        opacity: 0;
    }
}

@keyframes fadeOutDown
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        -webkit-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);

        opacity: 0;
    }
}

.fadeOutDown
{
    -webkit-animation-name: fadeOutDown;
            animation-name: fadeOutDown;
}
