<div class="container loggedIn">
  <div class="colContainer">
    <h3>Greetings!</h3>
    <p>
      To begin the fitness assessment for <span class="green">{{ client.name }}, </span>select the menu icon up there! <span class="menuArrow"><i class="fa fa-long-arrow-right"></i></span>.
    </p>
    <h4>
    </h4>
  </div>
  <div class="colContainer">
    <a ui-sref="targethr"><p class="appLink button">Target Heart Rate<br>Assessment</p></a>
    <a ui-sref="bodycomp"><p class="appLink button">Body Composition<br>Assessment</p></a>
  </div>
</div>
</div>